body {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  color: #4a3f35;
  margin: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tarjeta {
  width: 90%;
  max-width: 550px;
  padding: 50px;
  box-sizing: border-box;
  text-align: center;
  background-color: #f5f0dc;
  border-radius: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.tarjeta img {
  width: 220px;
  height: 220px;
  border-radius: 20px;
  background-color: #ffffff;
}

.tarjeta h1 {
  font-family: "Fredoka", sans-serif;
  font-weight: 600;
  font-size: 2.2em;
}

.tarjeta p {
  font-size: 1.15em;
  line-height: 1.6;
}

.tarjeta ul {
  list-style: none;
  padding: 0;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

.tarjeta a {
  color: #808080;
  text-decoration: none;
}
